.hotdog{
    align-self: center;
}
.hotdogPic{
    width: 500px;
    height: 500px;
}
.hotdogNav{
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
    box-shadow: 10px 10px 10px grey;
    border-radius: 25px;
    background-image: url("img/hotdog.png"), url("img/grass.jpg");
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.hotdogTitle {
    margin: 0px;
    color: white;
    padding: 46px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: monospace;
}
.column {
    height: 500px;
    margin-top: 20px;
}
.column:after {
    content: "";
    display: table;
    clear: both;
}
.main {
    width: 75%;
    float: right;
}
.menu {
    width: 20%;
    border-radius: 25px;
    background-color: rgb(243, 240, 240);
    box-shadow: 10px 10px 10px grey;
    float: left;
}
.apiHotdog {
    border-radius: 25px;
    background-color: rgb(243, 240, 240);
    box-shadow: 10px 10px 10px grey;
    margin: 0 auto;
    width: 75%;
    height: 25%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.apiInput {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    width: 60%;
    height: 25px;
}
.recipeBtn {
    width: 10%;
    height: 20px;
}
.recipeDiv {
    margin: 0 auto;
    overflow: scroll;
    border-radius: 25px;
    background-color: rgb(243, 240, 240);
    box-shadow: 10px 10px 10px grey;
    width: 98%;
    height: 70%;
}
* {
    box-sizing: border-box;
}
.card{
    margin: auto;
    display: block;
}
.recipeCard {
    border-radius: 25%;
    border: 1px solid red;
    box-shadow: 10px 10px 10px grey;
    text-align: center;
    width: 300px;
    height: 300px;
    display: inline-block;
}
.recipeImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}